/* logo animation */

.first-color {
  @apply text-contrast-400 dark:text-contrast-200;
}
.second-color {
  @apply text-primary-500 group-hover:text-secondary-400 dark:text-primary-300 dark:group-hover:text-secondary-300;
}

#m-1,
#m-2,
#a-1,
#a-2,
#firstg1-1,
#firstg1-2,
#firstg2-1,
#firstg2-2,
#secondg1-1,
#secondg1-2,
#secondg2-1,
#secondg2-2,
#i-1,
#i-2,
#e1-1,
#e1-2,
#e2-1,
#e2-2 {
  stroke-dasharray: 150;
  stroke-dashoffset: 150;
  stroke-opacity: 1;
}

#m-1 {
  animation: draw 1s linear forwards;
}

#m-2 {
  animation: draw 1s linear 0.1s forwards;
}

#a-1 {
  animation: draw 1s linear 1s forwards;
}

#a-2 {
  animation: draw 1s linear 1.1s forwards;
}

#firstg1-1 {
  animation: draw 0.5s 1.7s linear forwards;
}

#firstg1-2 {
  animation: draw 0.5s linear 1.8s forwards;
}

#firstg2-1 {
  animation: draw 0.5s linear 2.1s forwards;
}

#firstg2-2 {
  animation: draw 0.5s linear 2.2s forwards;
}

#secondg1-1 {
  animation: draw 0.7s linear 2.5s forwards;
}

#secondg1-2 {
  animation: draw 0.7s linear 2.6s forwards;
}

#secondg2-1 {
  animation: draw 0.7s linear 3.1s forwards;
}

#secondg2-2 {
  animation: draw 0.7s linear 3.2s forwards;
}

#i-1 {
  animation: draw 1s linear 3.5s forwards;
}

#i-2 {
  animation: draw 1s linear 3.6s forwards;
}

#e1-1 {
  animation: draw 0.3s linear 4s forwards;
}

#e1-2 {
  animation: draw 0.3s linear 4.1s forwards;
}

#e2-1 {
  animation: draw 0.5s linear 4.1s forwards;
}

#e2-2 {
  animation: draw 0.5s linear 4.2s forwards;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

/* dot animation */
#dot {
  animation: appear 0.7s forwards;
  animation-delay: 3.7s;
  fill-opacity: 0;
}
@keyframes appear {
  to {
    fill-opacity: 1;
  }
}

/* blinking cursor */
.cursor-blink {
  animation: blink 1s infinite;
  opacity: 1;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}

/* boat rocking animation */
.animate-boat-rock {
  animation: rock 4s infinite;
  @apply origin-bottom;
}

@keyframes rock {
  0% {
    transform: rotate(10deg);
    transform-box: fill-box;
  }
  50% {
    transform: rotate(-10deg);
    transform-box: fill-box;
  }
  100% {
    transform: rotate(10deg);
    transform-box: fill-box;
  }
}

.ghost {
  animation: float infinite;
  animation-duration: 3s;
}

#purple_ghost {
  animation-delay: 0.5s;
  animation-duration: 3.2s;
}
#blue_ghost {
  animation-delay: 0.7s;
  animation-duration: 2.8s;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
