.sidebar-link {
  @apply text-primary-500 hover:text-primary-600 focus:text-primary-600 dark:text-primary-300 dark:hover:text-primary-200 dark:focus:text-primary-200;
}

.postlist-tag-link {
  @apply text-primary-500 hover:text-primary-600 focus:text-primary-600 dark:hover:text-primary-300 dark:focus:text-primary-300;
}

/*
.blog-navbar {
  @apply text-dark-500 dark:text-dark-300;
}

.blog-navbar > * {
  @apply hover:text-blog-primary-500 dark:hover:text-blog-primary-300 focus:text-blog-primary-500 dark:focus:text-blog-primary-300;
}
*/
.navbar {
  @apply text-primary-500 dark:text-primary-300;
}

.navbar > * {
  @apply hover:text-secondary-500 focus:text-secondary-500 dark:hover:text-secondary-300 dark:focus:text-secondary-300;
}

.line-clamp {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.postlist-grid {
  grid-template-columns: 230px;
}

@screen sm {
  .postlist-grid {
    grid-template-columns: 230px 230px;
  }
}

@screen lg {
  .postlist-grid {
    grid-template-columns: 230px 230px 230px;
  }
}

@screen xl {
  .postlist-grid {
    grid-template-columns: 230px 230px 230px 230px;
  }
}
