.sidebar-link {
    @apply text-blog-primary-500 hover:text-blog-primary-600 dark:text-blog-primary-300 dark:hover:text-blog-primary-200 focus:text-blog-primary-600 dark:focus:text-blog-primary-200;
}

.postlist-tag-link {
    @apply text-blog-primary-500 hover:text-blog-primary-600 dark:hover:text-blog-primary-300 focus:text-blog-primary-600 dark:focus:text-blog-primary-300;
}

.blog-navbar {
    @apply 
        text-blog-gray-500 dark:text-blog-gray-300;
}   

.blog-navbar > * {
    @apply
        hover:text-blog-primary-500 dark:hover:text-blog-primary-300 focus:text-blog-primary-500 dark:focus:text-blog-primary-300;
}

.home-navbar {
    @apply
        text-home-primary-500 dark:text-home-primary-300;
}

.home-navbar > * {
    @apply
        hover:text-home-contrast-500 dark:hover:text-home-contrast-300 focus:text-home-contrast-500 dark:focus:text-home-contrast-300;
}

.postlist-grid {
    grid-template-columns: 230px;
}

@screen sm {
    .postlist-grid {
        grid-template-columns: 230px 230px;
    }
}

@screen lg {
    .postlist-grid {
        grid-template-columns: 230px 230px 230px;
    }
}

@screen xl {
    .postlist-grid {
        grid-template-columns: 230px 230px 230px 230px;
    }
}