/**
* Dracula Theme originally by Zeno Rocha [@zenorocha]
* https://draculatheme.com/
*
* Ported for PrismJS by Albert Vallverdu [@byverdu]
*/

.dark code[class*="language-"],
.dark pre[class*="language-"] {
  color: #f8f8f2;
  background: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
.dark pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  /*border-radius: 0.3em;*/
}

.dark :not(pre) > code[class*="language-"],
.dark pre[class*="language-"] {
  background: #282a36;
}

.dark :not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.dark .token.comment,
.dark .token.prolog,
.dark .token.doctype,
.dark .token.cdata {
  color: #6272a4;
}

.dark .token.punctuation {
  color: #f8f8f2;
}

.dark .namespace {
  opacity: 0.7;
}

.dark .token.property,
.dark .token.tag,
.dark .token.constant,
.dark .token.symbol,
.dark .token.deleted {
  color: #ff79c6;
}

.dark .token.boolean,
.dark .token.number {
  color: #bd93f9;
}

.dark .token.selector,
.dark .token.attr-name,
.dark .token.string,
.dark .token.char,
.dark .token.builtin,
.dark .token.inserted {
  color: #50fa7b;
}

.dark .token.operator,
.dark .token.entity,
.dark .token.url,
.dark .language-css .token.string,
.dark .style .token.string,
.dark .token.variable {
  color: #f8f8f2;
}

.dark .token.atrule,
.dark .token.attr-value,
.dark .token.function,
.dark .token.class-name {
  color: #f1fa8c;
}

.dark .token.keyword {
  color: #8be9fd;
}

.dark .token.regex,
.dark .token.important {
  color: #ffb86c;
}

.dark .token.important,
.dark .token.bold {
  font-weight: bold;
}

.dark .token.italic {
  font-style: italic;
}

.dark .token.entity {
  cursor: help;
}
